html {
    background-image: url(tempback.jpg);
}
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
a {
  color: white;

}

table{
  color: white;
  align-items: center;
  margin: 0px auto;
}
