<!DOCTYPE html>
<html lang="en">
<!-- This is the links and scripts for bootstrap -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<!-- This is some css styling for this page only -->
<style>
    .center {
        text-align: center;
    }
</style>
<body>
    <!-- This gives the user two buttons to clieck dpending on if they are a client or and IFA and then will take them to the correct login screen -->
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation"><a href="#ifa" aria-controls="ifa" role="tab" data-toggle="tab">IFA</a></li>
                    <li role="presentation"><a href="#client" aria-controls="client" role="tab" data-toggle="tab">Client</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="ifa">
                    <h1 class="page-header center"> IFA Login </h1>
                    <!-- This is the IFA login screen after you click the IFA button-->
                    <form id="ifaForm" method="POST" onsubmit="return checkIFALogin()">
                        <div class="modal-dialog">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="username" placeholder="Username" />
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" name="password" placeholder="Password" />
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-block btn-lg btn-primary" name="submit" value="Login" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Tab panes -->
                <div role="tabpanel" class="tab-pane" id="client">
                    <h1 class="page-header center"> Client Login </h1>
                    <!-- This is the client login screen after you click the client button-->
                    <form id="clientForm" method="POST" onsubmit="return checkClientLogin()">
                        <div class="modal-dialog">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="username" placeholder="Username" />
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" name="password" placeholder="Password" />
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-block btn-lg btn-primary" name="submit" value="Login" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <script>
        // This function checks the Login using Ajax by using an AppRoute in the server that checks the database to see if a user exists before allowing them to log in
        function checkIFALogin() {
            var username = document.forms["ifaForm"]["username"].value;
            var password = document.forms["ifaForm"]["password"].value;
            params = 'username=' + username + '&password=' + password;
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/CheckIFALogin", true); // true is asynchronous
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onload = function() {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    window.location = xhttp.responseText;
                } else {
                    console.error(xhttp.statusText);
                }
            };
            xhttp.send(params);
            return false;
        };
        // This function checks the Login using Ajax by using an AppRoute in the server that checks the database to see if a user exists before allowing them to log in
        function checkClientLogin() {
            var username = document.forms["clientForm"]["username"].value;
            var password = document.forms["clientForm"]["password"].value;
            params = 'username=' + username + '&password=' + password;
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/CheckClientLogin', true); // true is asynchronous
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onload = function() {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    window.location = xhttp.responseText;
                } else {
                    console.error(xhttp.statusText);
                }
            };
            xhttp.send(params);
            return false;
        };

    </script>
</body>

</html>
