<!-- Extends the nav page and the main block -->
{%extends 'blocks/nav.html'%}
{%block mainBlock%}
<div class="container">
  <!-- creates the table and links to css page -->
    <table class="table table-striped table-bordered">
      <!-- creates the table rows and headers -->
        <tr>
            <th>ID</th>
            <th>Forname</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        <!-- for loop that iterates from a list from the server -->
        {% for person in msg %}
            <tr>
              <!-- iterates through the first loop and gets individual names -->
                {% for col in person %}
                <td>
                    {{col}}
                </td>
                {% endfor %}
                <!-- ends the for loop created above -->
            </tr>
            <!-- ends the for loop created above -->
        {% endfor %}
    </table>
</div>
{%endblock%}
