{%extends 'blocks/nav.html'%}
{%block mainBlock%}
<div class="container">
    <h2 class="page-header">Affordability</h2>
    <form action="/AffordabilityData" method="post">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="TaxActual">Income Tax & NI (actual):</label>
                    <input type="integer" name="TaxActual" class="form-control input-sm">
                </div>
            </div>    
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="TaxCalculated">Income Tax & NI (calculated):</label>
                    <input type="integer" name="TaxCalculated" class="form-control input-sm">
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="CommittedSpending">Committed Spending:</label>
                    <input type="integer" name="CommittedSpending" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="DiscretionarySpending">Discretionary Spending:</label>
                     <input type="integer" name="DiscretionarySpending" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="SpendingSurplus">Affordability/Spending Surplus:</label>
                    <input type="integer" name="SpendingSurplus" class="form-control input-sm">
                </div>
            </div>
        </div> 
        <button type="submit" class="btn btn-default">Submit</button>
    </form>    
</div> 
{%endblock%}